@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');
.vistaAdmin{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.botonesVistas{
    width: 20%;
    height: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.cambiaVista{
    width: 6em;
    height: 2.5em;
    background-color: rgb(198, 218, 236);
    font-family: 'Recursive', sans-serif;

}
#tablaClientes{
    width: 100%;
    height: 20em;
    display: none;
    
}
#tablaCitas{
    width: 100%;
    height: 20em;
    display: flex;
    /* visibility: visible; */
}
.cabeceraDatos{
    width: 100%;
    height: 2.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(8, 42, 236);
    font-family: 'Recursive', sans-serif;
    background-color: rgb(152, 200, 243);

}
.listadoClientes{
    width: 100%;
    height: 2.7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Recursive', sans-serif;
    

}
.nombreListado1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 2em;
    border:black 2px solid;
    
}
.apellido1Listado1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 2em;
    border:black 2px solid; 
}
.apellido2Listado1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 2em;
    border:black 2px solid; 
}
.dniListado1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 2em;
    border:black 2px solid; 
}
.telefonoListado1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 2em;
    border:black 2px solid; 
}
.emailListado1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 2em;
    border:black 2px solid; 
}
.nombreListado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 2em;
    border:black 2px solid;
}
.apellido1Listado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 2em;
    border:black 2px solid; 
}
.apellido2Listado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 2em;
    border:black 2px solid; 
}
.dniListado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 2em;
    border:black 2px solid; 
}
.telefonoListado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 2em;
    border:black 2px solid; 
}
.emailListado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 2em;
    border:black 2px solid;
    color:crimson;
}

.allAppointments{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'Recursive', sans-serif;

}
.cabecera{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    height: 2.7em;
    color: rgb(8, 42, 236);
    
    
}
.pintaCitasCabecera{
    display: flex;
    
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 2em;
    border:black 2px solid;
    background-color: rgb(152, 200, 243);
}
.pintaFechasCabecera{
    display: flex;
    
    align-items: center;
    justify-content: center;
    width: 18em;
    height: 2em;
    border:black 2px solid;
    background-color: rgb(152, 200, 243);
}
.pintaPacienteCabecera{
    display: flex;
    
    align-items: center;
    justify-content: center;
    width: 18em;
    height: 2em;
    border:black 2px solid;
    background-color: rgb(152, 200, 243);
}
.listadoAppointments{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.3em;
    
    
    
}
.pintaCitas{
    display: flex;    
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 2em;
    border:black 2px solid;
    
}
.pintaFechas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18em;
    height: 2em;
    border:black 2px solid;
}
.pintaPaciente{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18em;
    height: 2em;
    border:black 2px solid;
}