@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');
.vistaRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textoEncabezado{
    margin-top: 3em;
    width: 65em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Recursive', sans-serif;

}
.containerCompuesto{
    width: 100%;
    height: 27em;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.imagenSonrisa{
    width: 35em;
    height: 25em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 1em;
}
.sonrisas{
    width: 14em;
    height: 12em;
}
.sonrisas img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1em;
}

.formRegistro {
    width: 35em;
    height: 25em;
    margin-left: 1em;
    border: 0.1em solid rgb(198, 218, 236);
    box-shadow: 5px 5px 17px rgb(198, 218, 236);
    border-radius: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Recursive', sans-serif;
    
}

.containerCompuesto2{
    width: 100%;
    height: 7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pieFotos{
    width: 35em;
    height: 7em;
}
.pieFormulario{
    width: 35em;
    height: 7em;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Recursive', sans-serif;
}

#botonRegistrarse{
    margin-top: 1em;;
    width: 7em;
    height: 2.5em;
    background-color: rgb(143,199,210);
    border-radius: 0.5em;
    font-family: 'Recursive', sans-serif;
    
}

.mensajeError{
    margin-top: 1em;
    color: red;
    font-family: 'Recursive', sans-serif;
}
