.vistaRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formRegistro {
    width: 35em;
    height: 25em;
    margin-top: 2em;
    border: 0.2em solid black;
    border-radius: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   

}
#botonRegistrarse{
    margin-top: 1em;;
    width: 7em;
    height: 2.5em;
    background-color: rgb(143,199,210);
    border-radius: 0.5em;
}

.mensajeError{
    margin-top: 1em;
    color: red;
}
