.vistaProfile{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navBar{
    width: 50%;
    height: 6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: cadetblue;
}

.vistasNavBar{
    width: 50%;
    height: 40em;
    display: flex;
    background-color: lightblue;
}
.vistaPerfil{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.linkPerfil{
    width: 6em;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkCitas{
    width: 6em;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
}

