@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');
.vistaProfile{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Recursive', sans-serif;
}
.tarjetas{
    width: 100%;
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.avatarDatos{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}
.avatar{
    border-radius: 100%;
    background-color: rgb(152, 200, 243);
    
}
.tarjetaPerfil{
    width: 20em;
    height: 21em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 0.2 solid black;
    margin-right: 2em;
    
}

.linkPerfil{
    width: 20em;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;   
    border-radius: 0.7em;
    border:rgb(143,199,210) 5px solid;
}

.vistaDatos{
    width: 20em;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    border-radius: 0.7em;
    border:rgb(152, 200, 243) 5px solid;
    
}

.customerData{
    width: 75%;
    line-height: 2em;
    text-align: justify;
}
.tarjetaCitas{
    width: 20em;
    height: 21em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 0.2 solid black;
    margin-left: 2em;
}
.tituloCita{
    width: 20em;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.7em;
    border:rgb(143,199,210) 5px solid;
}
.contenidoCita{
    width: 20em;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    border-radius: 0.7em;
    border:rgb(152, 200, 243) 5px solid;

}
.vuelveHome{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.spinner{
    display: flex;
    width: 7em;
    height: 7em;
}

.citasPersonales{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    height: 4em;
    border-radius: 0.7em;
    border:rgb(236, 85, 85) 2px solid;
}

.botonGoAppointment{
    width: 10em;
    height: 4em;
    background-color: rgb(143,199,210);
    border-radius: 0.5em;
    font-family: 'Recursive', sans-serif;
    
}


