.vistaProfile{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.imagenProfile{
    height: 22em;
    width: 50%;
    background:url(../../img/imagen.jpg);  
}