.vistaProfile{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tarjetas{
    width: 100%;
    height: 30em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.tarjetaPerfil{
    width: 20em;
    height: 21em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 0.2 solid black;
    
}
.linkPerfil{
    width: 20em;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(143,199,210);
}

.vistaDatos{
    width: 20em;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(152, 200, 243);
}

.customerData{
    width: 75%;
    line-height: 2em;
    text-align: justify;
}
.tarjetaCitas{
    width: 20em;
    height: 21em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 0.2 solid black;
}
.tituloCita{
    width: 20em;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(143,199,210);
}
.contenidoCita{
    width: 20em;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(152, 200, 243);

}
.vuelveHome{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.spinner{
    display: flex;
    width: 7em;
    height: 7em;
}

