@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');
.vistaHome{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.imagenDentista{
    height: 27em;
    width: 100%;
    background-repeat:no-repeat;
    background:url(../../img/clinica1.png);
    background-size: cover;

}
.dinsTot{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 2em;
    width: 100%;    
    height: 35em;
}
.texto1{
    width: 33%;
    height: 29em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.descripcionClinica{
    width: 75%;
    line-height: 1.55em;
    text-align: justify;
    font-family: 'Recursive', sans-serif;

    
}

.carruselPadre{
    width: 33%;
    height: 29em;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.texto2{
    width: 33%;
    height: 29em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.descripcionClinica2{
    width: 75%;
    line-height: 1.4em;
    text-align: justify;
    font-family: 'Recursive', sans-serif;

    
}
.recipienteFooter{
    width: 100%;
    height: 100%;
}