.componenteHeader{
    height: 5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.logo{
    width: 20%;
    height: 9em;
    display: flex;
    

}
.espacioVacio{
    width: 70%;
    height: 5em;

}
.contenedorBotones{
    width: 20%;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}