@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');
.componenteHeader{
    height: 5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.contenedorLogo{
    width: 10%;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorLogo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}
.espacioVacio{
    width: 70%;
    height: 6em;

}
.contenedorBotones{
    width: 20%;
    height: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.logout{
    width: 5em;
    height: 4.8em;
    color: rgb(214, 26, 26);
    font-family: 'Recursive', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s;

}
.logout:hover{
    transition: 2s;
    color: white;
    background-color: rgb(214, 26, 26);
    

}
.saludoCliente{
    margin-right: 2em;
    font-family: 'Recursive', sans-serif;
    width:10em;
    height: 6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(143,199,210);
    transition: 1.5s;
}
.saludoCliente:hover{
    color: black;
    transition: 1.5s;
    transform: scale(1.2);

}
.espacioVacioLogout{
    width: 50%;
    height: 6em;

}
.contenedorBotonesLogout{
    width: 40%;
    height: 6em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}