@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
.megaBoton{
    height: 3.9em;
    width: 4em;
    /*background-color:yellow;*/
    font-family: 'Cookie', cursive;
    font-size: x-large;
    color: rgb(143,199,210);
    
    transition: 0.7s;
    /*margin-right: 0.5em;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.megaBoton:hover{
    transition: 0.7s;
    background-color: transparent;
    border-bottom: rgb(152, 200, 243) 4px solid;
    

}