@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');
.megaBoton{
    height: 4.8em;
    width: 5em;
    /*background-color:yellow;*/
    font-family: 'Recursive', sans-serif;
    
    color: rgb(143,199,210);
    
    transition: 2s;
    /*margin-right: 0.5em;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.megaBoton:hover{
    transition: 2s;
    /*background-color: transparent;*/
    /*border-bottom: rgb(152, 200, 243) 4px solid;*/
    color: white;
    background-color: rgb(143,199,210);
    

}