@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.componenteFooter{
    height: 5em;
    width: 100%;
    
    display: flex;
    flex-direction: row;
  
      
}
.izquierda{
    width: 25%;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    margin-left: 2em;
}
.ubicacion2{
    margin-left: 0.5em;
    margin-top: -1em;

}
p{
    margin-bottom: -1em;
    font-family: 'Cookie', cursive;
    font-size: x-large;
    
}


.centro{
    width: 43%;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.contacto{
    font-family: 'Pacifico', cursive;
}
.telefono{
    display: flex;
    flex-direction: row;
    
}
.numeroTelefono{
    margin-left: 1.5em;
    font-family: 'Cookie', cursive;
    font-size: x-large;
}
.email{
    margin-left: 1em;
    font-family: 'Cookie', cursive;
    font-size: x-large;
}

.arroba{
    display: flex;
    flex-direction: row;
}

.derecha{
    width: 25%;
    height: 5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
    
}
.siguenos{
    font-family: 'Pacifico', cursive;
    margin-bottom: 0.5em;
}
.redesSociales{
    display: flex;
    flex-direction: row;
    
}
    

    
