@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');
.contenedorCarrusel{
    width: 100%;
    height: 29em;
    /*margin-left: 3em;*/
    
}

.carrusel{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 23em;
    height: 23em;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Recursive', sans-serif;

}
.carrusel img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
