.contenedorCarrusel{
    width: 29em;
    height: 29em;
    margin-left: 3em;
    
}

.carrusel{
    width: 30em;
    height: 25em;
    overflow: hidden;

}
.carrusel img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
