@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');
.vuelveHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.spinner{
    width: 10em;
    height: 10em;
}
.containerAppointment{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Recursive', sans-serif;

}
.seleccionFecha{
    display: flex;
    flex-direction: column;
    width: 18em;
    height: 5em;
}
.seleccionDentista{
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 3em;
    
}
.confirmAppointment{
    
    display: flex;
    flex-direction: column;
    font-weight: bold;
    

}
.confirmaCita{
    margin-top: 2em;
    width: 8em;
    height: 2em;
    background-color: lightblue;
    border-radius: 0.5em;
    font-family: 'Recursive', sans-serif;

}
.muestraFecha{
    color: mediumblue;
    font-size: 1.7em;
    margin-bottom: 1em;

}
.nombre{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2.3em;
}
.concertarCita{
    margin-bottom: 1em;
}

